/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 680px;
    padding: 0 0.5em;
}

ul li a,
ul li a:visited,
p a {
    color: black;
}

p a:visited {
    color: black;
}


/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
    min-height: 2em;
    background-color: #000;
    color: #fff;
}

.outer-wrap-header {
    position: relative;
}

.inner-wrap-header {
    max-width: 100%;
}

.header-logo {
    position: absolute;
    top: 7em;
    left: 1em;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    max-width: 100%;
    min-height: 2em;
    background-color: #535353;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    padding: 14px 16px;
}


.outer-wrap-navbar a,
.outer-wrap-navbar a:visited {
    color: #fff;
}

.outer-wrap-navbar a:hover {
    background-color: black;
}

.outer-wrap-navbar .selected {
    background-color: black;
}


/**
 * Main
 */
.outer-wrap-main {
    min-height: 20em;
    margin-bottom: 2em;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
    font-family: 'Montserrat', sans-serif;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

.wrap-main,
.wrap-main ul li a,
.wrap-main ul li a:visited,
.wrap-main p a,
.wrap-main p a:visited {
    color: black;
    font-family: 'Open sans', serif;
}


/**
 * Footer
 */
.outer-wrap-footer {
    max-width: 100%;
    min-height: 10em;
    background-color: #424242;
    color: #fff;
    padding: 1em 0;
    font-family: 'Open sans', serif;
}



/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
